/* -------------------HEADER CSS */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-shadow: 1px 1px 1px  #22c1c3,
             1px 2px 1px #22c1c3,
             1px 3px 1px  #22c1c3,
             1px 4px 1px  #22c1c3,
             1px 5px 1px  #22c1c3,
             1px 6px 1px  #22c1c3,
             1px 10px 5px rgba(16, 16, 16, 0.5),
             1px 15px 10px rgba(16, 16, 16, 0.4),
             1px 20px 30px rgba(16, 16, 16, 0.3),
             1px 25px 50px rgba(16, 16, 16, 0.2);
             background-color: #000000;
            background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
            height: 50px;
            margin: -20px;
}

a{
    text-decoration: none;
    color: black;
    padding-top: 20px;
}

/* ------------------CONTENT CSS---------------- */

#content{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(133,45,253,1) 100%);
    margin-left: -20px;
    margin-right: -20px;
    height: 270px;
   
}


input{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-color: rgb(12, 12, 107);
    width: 250px;
    
}

button{
    height: 20px;
    border-color: rgb(12, 12, 107);
    width: 258px;
    
}

h1{
    padding-bottom: 10px;
}

#inputs{
    margin-left: 30px;
    margin-top: 30px;
    align-content: end;
    width: 100%;
    justify-content: end;
    text-align: end;
    margin-right: 30px;
}

#tagline{
    padding-left: 40px;
    line-height: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: rgb(242, 241, 243);
}

/* ------------------BOOKMARK CSS---------------- */

h2{
    text-shadow: 1px 1px 1px  #22c1c3,
             1px 2px 1px #22c1c3,
             1px 3px 1px  #22c1c3,
             1px 4px 1px  #22c1c3,
             1px 5px 1px  #22c1c3,
             1px 6px 1px  #22c1c3,
             1px 10px 5px rgba(16, 16, 16, 0.5),
             1px 15px 10px rgba(16, 16, 16, 0.4),
             1px 20px 30px rgba(16, 16, 16, 0.3),
             1px 25px 50px rgba(16, 16, 16, 0.2);
             background-color: #000000;
            background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
            text-align: center;
            margin: -20px;
}

.text{
    line-height: 10px;
} 

#bookmarks{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    line-height: 20px;
}
#img{
    height: 100px;
    width: 100px;
    margin-top: 5px;
    border: solid;
} 

#text{
    font-size: 15px;
    width:150px
}